.navbar{
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 2px 6px rgb(100, 100, 100);
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
}
.navbar-light .navbar-brand {
    color: rgb(0, 0, 0);
 
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    padding:10px 12px 10px 10px;
    transition: 0.2s ease all;
    
}
.navbar-light .navbar-nav .nav-link:hover{
    color:rgb(255, 255, 255);
    box-shadow: 0px 0px 4px rgb(131, 131, 131);
    border-radius:4px;
    background-color: rgb(81, 67, 95);
}
.navbar-light .navbar-toggler {
    transition: 0.4s ease;
    background-color: rgb(231, 231, 231);
}
.navbar-light .navbar-toggler:hover{
    background-color: rgb(81, 67, 95);
}
@media only screen and (max-width:800px){
    .navbar-light .navbar-brand {
        color: rgb(0, 0, 0);
    }
    .navbar-light .navbar-toggler {
      
        width:40%;
    }
}